// Tipografía 
$font-main: "Montserrat", sans-serif; 

// Colores 
$color-primary: #ff8c00; 
$color-dark: #222; 
$color-light: #efefef; 
$color-link-hover: cornflowerblue; 

// Espaciados 
$space-sm: 1rem; 
$space-md: 2rem; 
$space-lg: 3rem; 