// Abstracts
@use "abstracts/variables";
@use "abstracts/mixins";

// Base
@use "base/reset"; 
@use "base/typography";

// Layout 
@use "layout/navbar";
@use "layout/header";
@use "layout/footer";

// Pages 
@use "pages/home";
@use "pages/catalog";
@use "pages/about";