.routines {

  .col-md-4 {
    display: flex;
  }

  .routine-card {
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    &:hover {
      transform: translateY(-5px);
    }
  }


}